# SPDX-FileCopyrightText: 2013-2022 Jonathan Hartley & Arnon Yaari
#
# SPDX-License-Identifier: BSD-3-Clause

*.pyc
*.egg-info
.coverage
.tox/
/MANIFEST
/build/
/dist/
/sandbox/
/tags
virtualenv

# PyCharm
.idea
