language: python
env:
  - unittest=unittest
    testbin=unittest
python:
  - "2.7"
  - "3.5"
  - "3.4"
  - "3.3"
  - "3.2"
sudo: false # Use container-based infrastructure
install:
  - "if [ $unittest = unittest2 ]; then pip install unittest2; fi"
  - "pip install mock"
script: "python -m $testbin discover -p *_test.py"
matrix:
  include:
    - python: "2.6"
      env:
        - unittest=unittest2
          testbin=unittest2.__main__
